# Node modules
/node_modules

# Laravel specific
/bootstrap/cache/
/vendor/
.env
.env.*
.env.backup
.env
.codescene
/storage/
/.phpunit.result.cache
package-lock.json
npm-debug.log
composer.lock
purgecss.config.js
/tests/
/public/app-assets/css
/resources/lang/
/public/app-assets/vendors

# Various IDE and editor files
.idea
*.swp
*.swo
*.swn
.DS_Store

# Operating system generated
Thumbs.db

# Docker
/docker

# Ignore public key
public_key.pem